body{
  text-align: center;
  position: relative;
  padding-top: 140px;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  background-color: black
}

.banner{
  
  position: fixed;
  top: 0px;
  background-color: #F93F23;
  width: 100%;
  color: white;
  border: 1px solid black;
  z-index: 99;
  padding-bottom: 20px;

    
}
.tabs{
  display: flex;
  justify-content: space-between; 
  margin: 0 300px;
}

.container{
  margin: 0 100px;;
  color: white;
  display: block;
  z-index: 1;
  
}

.container h3{
  color: black;
}

.tab{
    border: 1px solid white;
    padding: 1px 15px;
    border-radius: 5px;
    box-shadow: 3px -1px 16px;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  margin-bottom: 40px;
  margin-top: 40px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 3px 3px 9px;
  width: 100%;
  position: relative;
}

.card img{
  position: absolute;
  height: 150px;
  width: 150px; 
  left: 30px;
  top: 30px;
  border-radius: 5px;
  box-shadow: 3px -1px black;
  border: 1px solid black;
}

.card p{
  font-size: 40px;
  padding-right: 30px;
}

.card-1{
  background-image:
   linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.3)),
  url('images/italian.png');
  
  background-repeat: no-repeat;
  background-position: cover;
  background-size: 100%;
}

.card-2{
  background-image:
  linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.3)),
   url('images/thai.png');
  background-repeat: no-repeat;
    background-position: cover;

  background-size: 100%
}

.card-3{
  background-image: 
  linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.3)),
  url('images/noodles.png');
  background-repeat: no-repeat;
  background-position: cover;
  background-size: 100%;
}

.card-4{
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.3)),
  url('images/falafel.png');
  background-repeat: no-repeat;
  background-position: cover;
  background-size: 100%;
}

.card-5{
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.3)),
  url('images/burgers.png');
  background-repeat: no-repeat;
  background-position: cover;
  background-size: 100%;
}




